.todo__tasks {
  flex: 1;
  padding: 60px;
  overflow: auto; }

.sidebar {
  background-color: #f1f1f1;
  width: 200px;
  border-right: 1px solid #f1f1f1;
  padding: 40px 20px;
  font-size: 0.9em; }
  .sidebar img, .sidebar span {
    opacity: 1; }
    .sidebar img:hover, .sidebar span:hover {
      opacity: 0.8; }
