* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto',-apple-system, system-ui, sans-serif;
  box-sizing: border-box;
}
body {
-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.todo {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 650px;
  min-height: 530px;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #f1f1f1;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  max-width: 80%;
  max-height: 80%;
}